/*Font for the sign in and log in buttons  */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255,247,0);
    background: linear-gradient(153deg, rgba(255,247,0,1) 9%, rgba(0,255,187,1) 54%) fixed;
    position: relative;
}

/* Header */
.Headerstyle_container{
    box-shadow: rgb(0 0 0 /10%) 0px 2px 8px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.in-ut{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.sign-in{
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    font-family: 'Luxurious Roman', cursive;
    font-size: 17px;
}
.sign-in:hover {
    background-color: white;
}

.log-in{
    margin-right: 5px;
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    font-family: 'Luxurious Roman', cursive;
    font-size: 17px;

}

.log-in:hover{
    background-color: white;
}


/* Into and paragraph */
.Intro{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 20vh;
}

.Tutorial_title{
    padding-bottom: 20px;
}

@media screen and (min-width: 1000px) {
    .Intro{
        margin: 20px;
    }
    footer{
        margin: 20px;
    }
}

.Sound_container{
    display: flex;
    max-width: 50%;
    width: 100%;
    justify-content: space-around;
}
.Mega-sound-container{
    display: flex;
    justify-content: center;
}

.forest:hover{
    color: white;
}

.forest {
    letter-spacing: -1.5rem;
}
.forest i:nth-child(odd) {
    font-size: 2.5rem;
}

.fa-4x:hover{
    color: white;
}

.login{
    display: flex;
    /* align-self: center; */
    width: 50vw;
    top: 20vh;
    left: 20vw;
    height: 50vh;
    position: absolute;
    background-color: red;
}


.login input[type=text] {
    width: 50%;
    height: 5%;
}

.username{
    font-size: 1.5em;
    order: -1;
}

footer{
    align-items: flex-end;
}
